// --------------------------------------- FONTS --------------------------------------- //

@font-face {
    font-family: "HelveticaNeue";
    src: url("../fonts/HelveticaNeue-Light.otf");
    font-weight: 400;
}

@font-face {
    font-family: "Rift";
    src: url("../fonts/Rift-Bold.otf");
    font-weight: 600;
}


// ---------------------------------- VARIABLES ---------------------------------- //

$black: #222222;
$gray: #aaaaaa;
$blue: #0645ad;


// ---------------------------------- INITIALIZATION ---------------------------------- //

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: HelveticaNeue;
    list-style: none;

    color: $black;
    font-size: 15px;
    line-height: 1.6;
}

a {
    text-decoration: none;
    
    &:visited {
        color: inherit;
    }
}

img {
    pointer-events: none;
}

i.fas, i.fab {
    color: $black;
    cursor: pointer;
    transition: all 300ms ease-in-out;

    &:hover {
        color: $gray;
    }
}

h1 {
    font-family: Rift;
    font-size: 102px;
    user-select: none;
    cursor: default;
}

small {
    color: $blue;
}


// ---------------------------------- STYLES ---------------------------------- //

header {

    nav {
        width: 100%;
        height: 104px;
        padding: 0 165px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .brand {
            font-family: Rift;
            font-size: 56px;
            user-select: none;
            cursor: pointer;
        }

        .links {
            display: flex;

            li {
                margin-left: 50px;

                a {
                    color: $gray;
                    transition: all 300ms ease-in-out;

                    &:hover {
                        color: $black;
                    }
                }

                .current {
                    color: $black;
                }
            }
        }
    }

    .header {
        width: 100%;
        padding: 25px 60px 125px 60px;
        display: flex;
        flex-direction: column;
        align-items: center;

        

        .social {
            width: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2px 0 36px 0;
        }

        .whatis {
            text-align: center;
            cursor: default;
        }
    }
}



main {
    margin: 0 165px;

    .filter-menu {
        width: 100%;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;
        
        ul {
            width: 100%;
            display: flex;
            justify-content: space-evenly;

            li {
                cursor: pointer;
                user-select: none;
                color: $gray;
                transition: all 300ms ease-in-out;

                &:hover {
                    color: $black;
                    transition: all 300ms ease-in-out;
                }
            }

            .active {
                color: $black;
            }
        }
    }



    .wall {
        max-width: calc(100% + 50px);
        height: 9999px;
        margin: 0 -50px 105px -23px;
        opacity: 1;
        transition: opacity 1000ms ease-in-out;
    
        .wall-item {
            display: block;
            margin: 0 0 50px 0;
            opacity: 1;
            transition: all 500ms ease-in-out;
    
            &:hover {
                transform: scale(1.01);
                filter: brightness(60%);
                transition: all 500ms ease-in-out;
                cursor: pointer;
            }
    
            img {
                display: block;
                width: 100%;
            }
        }

        
        .hidden {
            display: none;
        }

        .vis-hidden {
            opacity: 0;
            transition: opacity 1000ms ease-in-out;
        }
    
        .wall-column {
            display: block;
            position: relative;
            width: 33.3333%;
            float: left;
            padding: 25px;
        }
    }

    .hideme {
        opacity: 0;
        transition: opacity 1000ms ease-in-out;
    }



    .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;
        

        .bio {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            margin-top: 58px;

            img {
                min-width: 20rem;
                // min-height: 20rem;
                flex: 20rem 0 0;
                height: auto;
            }

            p {
                flex: 500px 1 1;
                padding-left: 100px;
            }
        }
    }



    .contact {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;

        .contact-info {
            margin-right: 50px;
            width: 50%;
            flex: 50% 1 1;

            h2 {
                font-family: Rift;
                font-size: 24px;
                margin-bottom: 25px;
            }

            .email, .tel {
                color: $blue;
                display: block;
                margin-bottom: 14px;
            }

            .tel {
                font-size: 14px;
            }
        }

        .contact-form {
            width: 50%;
            flex: 50% 0 0;

            form {
                display: flex;
                flex-direction: column;

                input, textarea, button {
                    appearance: none;
                    border: solid 1px $gray;
                    outline: none;
                    padding: 12px 16px;
                    margin-bottom: 25px;
                    transition: all 200ms ease-in-out;

                    &:focus {
                        outline: none;
                        border: solid 1px $black;
                        transition: all 200ms ease-in-out;
                    }
                }

                textarea {
                    resize: none;
                    flex: 150px 1 1 !important;
                }

                button {
                    border: none;
                    background: $black;
                    color: white;
                    cursor: pointer;

                    &:hover {
                        background: $gray;
                        transition: all 200ms ease-in-out;
                    }
                }
            }
        }
    }
}



footer {
    max-width: 100%;
    height: 110px;
    margin:0 160px 0 160px;

    display: flex;
    justify-content: center;
    align-items: center;

    .copyright {
        font-size: 12px;
        color: $gray;
        cursor: default;
    }
}


