@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Caslon";
  src: url("../fonts/Caslon-Book.ttf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: HelveticaNeue;
  list-style: none;
  color: #222222;
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

i.fas, i.fab {
  color: #222222;
  cursor: pointer;
}

header nav {
  width: 100%;
  height: 100px;
  padding: 0 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .brand {
  font-family: Caslon;
  font-size: 52px;
  letter-spacing: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

header nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .links li {
  margin-left: 30px;
}

main .about {
  width: 100%;
  padding: 25px 60px 125px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .about .title {
  font-family: Caslon;
  font-size: 96px;
  letter-spacing: 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

main .about .social {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0 40px 0;
}

main .about .bio {
  text-align: center;
  cursor: default;
}

main .wall {
  max-width: 100%;
  margin: 0 75px 105px 77px;
}

main .wall .wall-item {
  display: block;
  margin: 0 0 50px 0;
  -webkit-transition: all 200ms;
  transition: all 200ms;
}

main .wall .wall-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 500ms;
  transition: all 500ms;
  cursor: pointer;
}

main .wall .wall-item img {
  display: block;
  width: 100%;
}

main .wall .wall-column {
  display: block;
  position: relative;
  width: 20%;
  float: left;
  padding: 25px;
}

footer {
  max-width: 100%;
  height: 110px;
  margin: 0 160px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright {
  font-size: 12px;
}
/*# sourceMappingURL=style.css.map */