@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Light.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Rift";
  src: url("../fonts/Rift-Bold.otf");
  font-weight: 600;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: HelveticaNeue;
  list-style: none;
  color: #222222;
  font-size: 15px;
  line-height: 1.6;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

img {
  pointer-events: none;
}

i.fas, i.fab {
  color: #222222;
  cursor: pointer;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

i.fas:hover, i.fab:hover {
  color: #aaaaaa;
}

h1 {
  font-family: Rift;
  font-size: 102px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: default;
}

small {
  color: #0645ad;
}

header nav {
  width: 100%;
  height: 104px;
  padding: 0 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .brand {
  font-family: Rift;
  font-size: 56px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

header nav .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .links li {
  margin-left: 50px;
}

header nav .links li a {
  color: #aaaaaa;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

header nav .links li a:hover {
  color: #222222;
}

header nav .links li .current {
  color: #222222;
}

header .header {
  width: 100%;
  padding: 25px 60px 125px 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header .social {
  width: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2px 0 36px 0;
}

header .header .whatis {
  text-align: center;
  cursor: default;
}

main {
  margin: 0 165px;
}

main .filter-menu {
  width: 100%;
  height: 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .filter-menu ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

main .filter-menu ul li {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #aaaaaa;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

main .filter-menu ul li:hover {
  color: #222222;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

main .filter-menu ul .active {
  color: #222222;
}

main .wall {
  max-width: calc(100% + 50px);
  height: 9999px;
  margin: 0 -50px 105px -23px;
  opacity: 1;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}

main .wall .wall-item {
  display: block;
  margin: 0 0 50px 0;
  opacity: 1;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

main .wall .wall-item:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-filter: brightness(60%);
          filter: brightness(60%);
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  cursor: pointer;
}

main .wall .wall-item img {
  display: block;
  width: 100%;
}

main .wall .hidden {
  display: none;
}

main .wall .vis-hidden {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}

main .wall .wall-column {
  display: block;
  position: relative;
  width: 33.3333%;
  float: left;
  padding: 25px;
}

main .hideme {
  opacity: 0;
  -webkit-transition: opacity 1000ms ease-in-out;
  transition: opacity 1000ms ease-in-out;
}

main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

main .about .bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 58px;
}

main .about .bio img {
  min-width: 20rem;
  -webkit-box-flex: 20rem;
      -ms-flex: 20rem 0 0px;
          flex: 20rem 0 0;
  height: auto;
}

main .about .bio p {
  -webkit-box-flex: 500px;
      -ms-flex: 500px 1 1;
          flex: 500px 1 1;
  padding-left: 100px;
}

main .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

main .contact .contact-info {
  margin-right: 50px;
  width: 50%;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 1 1;
          flex: 50% 1 1;
}

main .contact .contact-info h2 {
  font-family: Rift;
  font-size: 24px;
  margin-bottom: 25px;
}

main .contact .contact-info .email, main .contact .contact-info .tel {
  color: #0645ad;
  display: block;
  margin-bottom: 12px;
}

main .contact .contact-info .tel {
  font-size: 14px;
}

main .contact .contact-form {
  width: 50%;
  -webkit-box-flex: 50%;
      -ms-flex: 50% 0 0px;
          flex: 50% 0 0;
}

main .contact .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .contact .contact-form form input, main .contact .contact-form form textarea, main .contact .contact-form form button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: solid 1px #aaaaaa;
  outline: none;
  padding: 12px 16px;
  margin-bottom: 25px;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

main .contact .contact-form form input:focus, main .contact .contact-form form textarea:focus, main .contact .contact-form form button:focus {
  outline: none;
  border: solid 1px #222222;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

main .contact .contact-form form textarea {
  resize: none;
  -webkit-box-flex: 150px !important;
      -ms-flex: 150px 1 1 !important;
          flex: 150px 1 1 !important;
}

main .contact .contact-form form button {
  border: none;
  background: #222222;
  color: white;
  cursor: pointer;
}

main .contact .contact-form form button:hover {
  background: #aaaaaa;
  -webkit-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}

footer {
  max-width: 100%;
  height: 110px;
  margin: 0 160px 0 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .copyright {
  font-size: 12px;
  color: #aaaaaa;
  cursor: default;
}
/*# sourceMappingURL=style.css.map */