---
layout: default
---

<main>
    <div class="filter-menu">
        <ul>
            <li data-filter=".portrait" class="active">Portrait</li>
            <li data-filter=".corporate">Corporate</li>
            <li data-filter=".fashion">Fashion</li>
            <li data-filter=".product">Product</li>
            <li data-filter=".cityscape">Cityscape</li>
        </ul>
    </div>

    <section id="gallery" class="wall">
        {% for image in site.static_files %}
            {% if image.path contains 'portrait' %}
                <div class="wall-item portrait"><img src="{{ site.baseurl }}{{ image.path }}" alt=""></div>
            {% elsif image.path contains 'corporate' %}
                <div class="wall-item corporate hidden"><img src="{{ site.baseurl }}{{ image.path }}" alt=""></div>
            {% endif %}
        {% endfor %}
    </section>
</main>