---
layout: default
---

<main>
    <div id="work" class="filter-menu">
        <ul>
            <li data-filter=".portrait" class="active">Portrait</li>
            <li data-filter=".corporate">Corporate</li>
            <li data-filter=".fashion">Fashion</li>
            <li data-filter=".product">Product</li>
            <li data-filter=".cityscape">Cityscape</li>
        </ul>
    </div>

    <section class="wall">
        {% for image in site.static_files %}
            {% if image.path contains 'portrait' %}
                <div class="wall-item portrait"><img src="{{ site.baseurl }}{{ image.path }}" alt="Picture"></div>
            {% elsif image.path contains 'corporate' %}
                <div class="wall-item corporate hidden vis-hidden"><img src="{{ site.baseurl }}{{ image.path }}" alt="Picture"></div>
            {% endif %}
        {% endfor %}
    </section>

    <section id="bio" class="about">
        <h1>Bio</h1>
        
        <div class="bio">
            <img class="avatar" src="/other/Portrait.jpg" alt="Avatar"/>
            <p>Ousama Qandeel (born 1992, Alexandria, Egypt) known for his Portraits photography, Music, and still lifes. He began photographing concerts at the urgency of a friend and immediately became enamored with capturing sound and performance through visual means. He has been shooting musicians and artists in the underground music scene, Later on in December of 2016, After a long stint working behind a desk He moved to Cairo. switched over to full time job and got hired as an assistant photographer which gave him the chance to access to a studio, That's when he realized that photography was his true passion. He is recognized for his dramatic portraiture.</p>
        </div>
    </section>
</main>