<div class="elem">
<header>
	<div class="brand">
		Ousama Qandeel
	</div>

	<nav class="navbar">
		<ul>
			<li>
				<a href="/" class="{% if page.url == '/' %}current{% endif %}">portrait</a>
			</li>
			<li>
				<a href="/corporate/" class="{% if page.url == '/corporate/' %}current{% endif %}">corporate</a>
			</li>
			<li>
				<a href="/fashion/" class="{% if page.url == '/fashion/' %}current{% endif %}">fashion</a>
			</li>
			<li>
				<a href="/product/" class="{% if page.url == '/product/' %}current{% endif %}">product</a>
			</li>
			<li>
				<a href="/cityscape/" class="{% if page.url == '/cityscape/' %}current{% endif %}">cityscape</a>
			</li>
			<li>
				<a href="/about/" class="{% if page.url == '/about/' %}current{% endif %}">bio</a>
			</li>
			<li>
				<a href="mailto:ousamaqandeel@outlook.com" class="{% if page.url == '/contact/' %}current{% endif %}">+ email me</a>
			</li>
		</ul>
	</nav>
</header>
</div>