<div class="elem">
<header>
	<div class="brand">
		Ousama Qandeel
	</div>

	<nav class="navbar">
		<ul>
			<li>
				<a href="/osamaqandeel.github.io/" class="{% if page.url == '/osamaqandeel.github.io/' %}current{% endif %}">work</a>
			</li>
			<li>
				<a href="/osamaqandeel.github.io/about/" class="{% if page.url == '/osamaqandeel.github.io/about/' %}current{% endif %}">bio</a>
			</li>
			<li>
				<a href="mailto:ousamaqandeel@outlook.com" class="{% if page.url == '/contact/' %}current{% endif %}">+ email me</a>
			</li>
		</ul>
	</nav>
</header>
</div>