<header>
    <nav>
        <div class="brand">OQ</div>
        <ul class="links">
            <li><a href="/" class="{% if page.url == '/' %}current{% endif %}">Work</a></li>
            <li><a href="/about/" class="{% if page.url == '/about/' %}current{% endif %}">Bio</a></li>
            <li><a href="/contact/" class="{% if page.url == '/contact/' %}current{% endif %}">Contact</a></li>
        </ul>
    </nav>

    <section class="header">
        <h1>Ousama Qandeel</h1>
        <div class="social">
            <a href="https://www.instagram.com/ousamaqandeel/" target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://www.facebook.com/OQPhotography0" target="_blank"><i class="fab fa-facebook-f fa-sm"></i></a>
            <i class="fab fa-flickr"></i>
        </div>
        <p class="whatis">We’re a boutique studio that specializes in commercial, product and portrait <br> photography, working between Cairo and Alexandria, Egypt.</p>
    </section>
</header>