@import url("/assets/css/header.css");
@import url("/assets/css/footer.css");
@import url("/assets/css/work.css");
@import url("/assets/css/about.css");
@import url("/assets/css/contact.css");




@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy-Black.ttf");
    font-weight: 800;
}
@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy-Bold.ttf");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy-Medium.ttf");
    font-weight: 400;
}
@font-face {
    font-family: "Gilroy";
    src: url("/assets/fonts/Gilroy-Light.ttf");
    font-weight: 200;
}

body {
    background-color: #ffffff;
}



* {
	margin: 0px;
	padding: 0px;
	font-family: "Gilroy", "Open Sans", sans-serif;
	font-size: 14px;
    font-weight: 500;
	list-style-type: none;
	box-sizing: border-box;
	line-height: 1;
	color: black;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
}
